<footer class='bg-dark text-white  text-center p-2'>
<p>Designed by</p>

<%= link_to 'Bantealem Geto', 'https://github.com/Bantealem', class: 'btn btn-link text-white'%>
and
<%= link_to 'Melashu Amare', 'https://github.com/melashu',class: 'btn btn-link text-white'%>

<br/>
<strong>
 Copyright &copy;2023
</strong>
</footer>